@import "styles/_colors.scss";
@import "styles/_fonts.scss";

.basket-widget-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.basket-widget-text {
  font-size: 14pt;
  margin: auto 0;
  font-style: italic;
  font-family: $Playfair;
  @media only screen and (max-width: 330px) {
    display: none;
  }
}

.basket-widget-svg-container {
  padding: 12px;
  border-radius: 50%;
  background-color: $black;
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.basket-widget-svg {
  fill: $gray;
  height: 24px;
  background-color: $black;
}
