@import "styles/_colors.scss";
@import "styles/_fonts.scss";

.cart-item-text-field {
  width: 30px;
  padding: 5px;
  text-align: center;
  font-size: 12pt;
  -webkit-appearance: none;
  margin: 0px 1px;
  outline: none;
  border: 1px $black solid;
}
