@import "styles/_colors.scss";
@import "styles/_fonts.scss";

.resolved-svg {
  height: 100px;
  polygon,
  rect,
  circle,
  path {
    fill: transparent;
    stroke: $pink;
    stroke-width: 1.5;
  }
}

@media only screen and (max-width: 570px) {
  .resolved-svg {
    width: 70vw;
    height: 70vw;
  }
}
